<div *ngIf="item">

    <h2>{{item.name | uppercase}} Details</h2>
    <div><span>id: </span>{{item.id}}</div>
    <div>
        <label for="item-id">Item Id: </label>
        <input matInput id="item-id" [(ngModel)]="item.id" placeholder="id"> <br>

        <label for="item-name">Item Name: </label>
        <input matInputid="item-name" [(ngModel)]="item.name" placeholder="name"> &nbsp;
        <label for="item-price">Item Price: </label>
        <input matInput id="item-price" [(ngModel)]="item.price" placeholder="price">
    </div>
    <button mat-button (click)="save()">save</button>
    <button mat-button (click)="goBack()">Go Back</button>
</div>